# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Doxygen
*.bak
html/*


# VSCode artifacts
.vscode/*
!.vscode/tasks.json
src/.vscode/settings.json
.vscode/.browse.c_cpp.db*
.vscode/ipch/

# Visual Studio artifacts
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

.DS_STORE

examples/Wippersnapper_demo/build/

# Platformio artifacts
.pio/

# Secrets
data/
config/workbench.env
/secrets.json
/examples/secrets-examples/secrets.json

# Misc. Data
tests/
venv/
artifacts/
*.bin
*.elf
*.map
*.uf2

Doxyfile

.repos/
repos/
Wippersnapper_Components/
Wippersnapper_Boards/
.claude/settings.local.json
